<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sock.js - Simple chat</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
</head>
<body>
    <h1>Demo Sock.js</h1>
    <div>
        <button id="connect_bt"> 进入聊天室</button>
        <span id="status"></span><br/>
        <input type="text" id="input"/>
        <button id="send_bt">发送</button>
    </div>
    <div id="content">
        <script src="javascripts/main.js"></script>
    </div>
</body>
</html>
